body {
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

/* hero section */

.hero {
    display: flex;
    flex-direction: column;
    height: 500px;

}

.hero-top, .hero-bottom {
    background-color: #1F2937;
    display: flex;

}

.hero-header-1, ul, .main-header, .hero-img-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;

}

.hero-top {
    flex: 1;
    margin: 0;
    padding: 10px 260px 0 260px;

}

.hero-header-1 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    padding: 0;

}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    margin: 0;
    padding: 0 10px;

}

a {
    text-decoration: none;

}

.hero-bottom {
    display: flex;
    flex: 3;
    margin: 0;
    padding: 0 260px 0 260px;

}

a, .hero-content {
    color: #E5E7EB;
    font-size: 18px;

}

.main-header {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;

}

.hero-header-2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;

}

.hero-content {
    margin: 10px 0 20px 0;
    padding: 0 120px 0 0;
    line-height: 1.2em;

}

.hero-button {
    font-size: 22px;
    font-weight: 700;
    color: #F9FAF8;
    background-color: #3886F2;
    width: 160px;
    height: 50px;
    border-radius: 10px;

}

.hero-img-flexbox {
    display: flex;
    margin: 0;
    padding: 0;
}

.hero-img-box {
    height: 250px;
    width: 550px;
    margin: 0;
    padding: 0;

}

.hero-img {
    height: 100%;
    width: 100%;
    min-width: 0;
    object-fit: cover;
    object-position: 20% 20%;

}

/* information section */

.info {
    display: flex;
    flex-direction: column;
    height: 500px;

}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    align-self: center;
    margin: 60px 0;

}

.info-box-group {
    display: flex;
    flex-flow: row nowrap;
    gap: 0 80px;
    margin: 0;
    padding: 0;
    justify-content: center;

}

.info-box {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.info-img-box {
    height: 220px;
    width: 200px;
    margin: 0;
    padding: 0;
}

.info-1, .info-2, .info-3, .info-4 {
    border-radius: 15px;
    border: 5px solid #5a5e64;
    height: 100%;
    width: 100%;
    min-width: 0;
    object-fit: cover;
    object-position: 20% 20%;

}

.info-text {
    color: #5a5e64;
    font-size: 18px;
    text-align: center;
    width: 200px;
    align-self: flex-start;
    margin: 0;
    padding: 12px 0 0 0;

}

/* quote section */

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-color: #e5e7eb;

}

.quote-1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.5em;
    font-style: italic;
    display: flex;
    flex-direction: column;
    flex: 1.6;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 1000px;
    min-width: 0;

}

.quote-2 {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin: 0;
    padding: 0;
    width: 1000px;
    min-width: 0;

}

/* sign-up section */

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    
}

.sign-up-box {
    background-color: #3886F2;
    height: 40%;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;

}

.sign-up-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 5px;
    padding: 0;
}

.sign-up-content {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 5px;
    padding: 0;
}

.sign-up-button {
    font-size: 22px;
    font-weight: 700;
    color: #F9FAF8;
    background-color: #3886F2;
    width: 160px;
    height: 50px;
    outline: 2px solid #F9FAF8;
    border-radius: 10px;

}

/* footer section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 18px;
    height: 100px;
}