*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

/*   hero section   */

.hero {
    background-color: #1F2937; 
    display: flex;
    justify-content: space-around;

}

.hero-top {
    background-color: #1F2937; 
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;

}

.hero-header-1 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    padding: 8px 0 8px 18%;

}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    padding: 8px 18% 8px 0;

}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}

.hero-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 48px;

}

@media (max-width: 1100px) {
    .hero-bottom {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 18% 0 18%;
        width: 100%;
    
    }
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 0 96px 18%;

}

@media (max-width: 1100px) {
    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 48px 18% 16px 18%;
    
    }
}

.hero-header-2 {
    display: flex;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;

}

@media (max-width: 1100px) {
    .hero-header-2 {
        display: flex;
        text-align: center;
        color: #F9FAF8;
        font-size: 48px;
        font-weight: 900;
    
    }
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 20px 0;
    padding: 0 120px 0 0;
    line-height: 1.2em;
    color: #E5E7EB;
    font-size: 18px;

}

@media (max-width: 1100px) {
    .hero-content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        padding: 0 18%;
        line-height: 1.2em;
        color: #E5E7EB;
        font-size: 18px;
    
    }
}

.hero-button {
    font-size: 22px;
    font-weight: 700;
    color: #F9FAF8;
    background-color: #3886F2;
    width: 160px;
    height: 50px;
    border-radius: 10px;

}

@media (max-width: 1100px) {
    .hero-button {
        align-self: center;
        font-size: 22px;
        font-weight: 700;
        color: #F9FAF8;
        background-color: #3886F2;
        width: 160px;
        height: 50px;
        border-radius: 10px;
    
    }
}

.hero-img-flexbox {
    justify-content: flex-end;
    display: flex;
    padding: 48px 18% 96px 0;

}

@media (max-width: 1100px) {
    .hero-img-flexbox {
        justify-content: flex-end;
        display: flex;
        padding: 0 18% 96px 18%;
    
    }
}

.hero-img-box {
    height: 200px;
    width: 500px;

}

.hero-img {
    object-fit: cover;
    height: 100%;
    width: 500px;
    min-width: 0;
    object-position: 20% 65%;

}

/*   information section   */

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding: 48px;
    padding-top: 96px;

}

.info-box-group {
    display: flex;
    flex-flow: row wrap;
    padding: 0 24px 96px 24px;
    justify-content: center;

}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    margin: 0;
    padding: 8px;

}

.info-img {
    border-radius: 15px;
    border: 5px solid #5a5e64;
    height: 220px;
    width: 200px;
    min-width: 0;
    object-fit: cover;
    object-position: 20% 20%;

}

.info-text {
    color: #5a5e64;
    font-size: 18px;
    max-width: 200px;
    text-align: center;

}

/*   quote section   */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;

}

.quote-1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.5em;
    font-style: italic;
    padding: 96px 18% 0 18%;
    min-width: 0;

}

.quote-2 {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    margin: 0;
    padding: 0;
    padding: 0 18% 96px 18%;
    min-width: 0;

}

/*   sign-up section   */

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sign-up-box {
    background-color: #3886F2;
    height: 40%;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    margin: 64px 18% 64px 18%;
    padding: 48px 0;

}

.sign-up-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 5px;
    padding: 0;
}

.sign-up-content {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 5px;
    padding: 0;
}

.sign-up-button {
    font-size: 22px;
    font-weight: 700;
    color: #F9FAF8;
    background-color: #3886F2;
    width: 160px;
    height: 50px;
    outline: 2px solid #F9FAF8;
    border-radius: 10px;

}

/*   footer section   */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 18px;
    padding: 24px 0;
}